@import url('https://fonts.googleapis.com/css2?family=League+Spartan&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url("/images/bg-pattern-top-desktop.svg");
    font-family: 'League Spartan', sans-serif;
    font-size: 15px;
}

.container{
    width:80%;
    margin: 0 auto;
}
.header{
    display: flex;
    justify-content:space-between;
    margin-top: 50px;
    flex-wrap:wrap ;
    margin-top: 30px;
}
.header h1{
    font-size: 2.5rem;
    margin-bottom: 1rem;
}
.header p{
    font-size:0.9rem ;

}
.big-header{
    color: #511f50;
    
}
.title{
    color: #511f50;
    font-weight: 700;
}
.rating2{
    margin-left: 1rem;
}
.rating3{
    margin-left: 2rem;
}
.rating-pic{
    padding: 10px;
    margin-right: 2rem;
}
h3{
    color: #511f50;
    font-size: large;
}
.second-rating{
    margin-top: 50px;
}
.clients-rating{
    display: flex;
    flex-wrap: wrap;
    background-color:#f7f2f8 ;
    padding: 0.7rem 1.5rem;
    margin-bottom: 0.8rem;
    font-size: 0.7rem;
    align-items: center;
    border-radius:10px;
  
}
.rating-details{
    display: flex;
    justify-content: space-between; 
}
.rating-section1{
    width: 300px;
    height: 195px;
    background-color: #511f50;
    padding: 20px 25px;
    margin-right: 1rem;
    border-radius: 8px;
}
.rating-section2{
    width: 300px;
    height: 195px;
    background-color: #511f50;
    padding: 20px 25px;
    margin-right: 1rem;
    margin-top: 1rem;
    border-radius: 8px;
}
.rating-section3{
    width: 300px;
    height: 195px;
    background-color: #511f50;
    padding: 20px 25px;
    margin-right: 1rem;
    margin-top: 2rem;
    border-radius: 8px;
}
.person-details{
    display: flex;
    align-items: center;
}
.picture img{ 
    width: 50px;
    height: auto;
    border-radius: 100px;
    margin-right: 1rem;
}
.person-info h3{
    font: size 0.8rem;
    color: #fff;
    margin-bottom: 5px;
}
h5{
    font-size: 0.4rem;
    color: #867e7e;
    
}
.message p{
    font-size: 0.7rem;
    color: #f7f2f8;
    text-align: start;
    margin-top: 30px;
    font-size: 15px;
}
.attribution {
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }